@{
    ViewBag.Title = "Thomson Reuters - Wallet Manager";
}

@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <text>
    <div class="row">
        <div class="col-md-12">
            <center>
                <p><strong style="color: red;">@WebUtility.HtmlDecode(ViewBag.message)</strong></p>
            </center>
        </div>
    </div>
    </text>
}
<script>
    function loadbalance(wallet) {}
</script>
    @if (Request.IsAuthenticated)
    {
        @section Scripts {
            <script src="http://rawgit.com/ethereum/web3.js/0.16.0/dist/web3.min.js"></script>            
            <script>
                var web3 = new Web3();
                web3.setProvider(new Web3.providers.HttpProvider("http://bc.saleh.dev.int.thomsonreuters.com:8545"));
                var balance = web3.fromWei(web3.eth.getBalance('@ViewBag.WalletAddr'), "ether");
                $("#balance").html("ETH: " + balance + "");
                if (balance < 1) $("#balance").append(' <a target="_new" href="https://blockone.thomsonreuters.com/dapp-services/v1/send/100/ether-to/' + '@ViewBag.WalletAddr' + '/on/edgware">+1</a>');
            </script>
        }
            <h1> Wallets: </h1>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-sm-6">Address</div>
                    <div class="col-sm-3">Private words</div>
                    <div class="col-sm-3">Current balance</div>
                </div>
                <div class="row">
                    <div class="col-sm-6" id="wallet">@ViewBag.WalletAddr</div>
                    <div class="col-sm-3">@ViewBag.WalletSeed ...</div>
                    <div class="col-sm-3" id="balance">[]</div>
                </div>
                <script>
                    $("#loadfunds").hide();
                    loadbalance('@ViewBag.WalletAddr');
                </script>
            </div>
    }
    else
    {
        <div class="jumbotron">
            @*<h1>Welcome to Wallet Manager</h1>*@
            <p class="lead">Welcome to Wallet Manager</p>            
        </div>
    }

